nav{
    height: 150px;
    width: 100%;
    background-color: #1E085D;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #logo{
    float: left;
  }
  nav ul{
    float: right;
    list-style-type: none;
    
  }
  nav ul li{
    display:inline-block;
    margin: 8px 25px;
  }
  nav ul a{
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Joan', serif;
    background-image: radial-gradient(#1E085D , white); 
}
#hero-image{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    clear: both;
}
#hero-image img{
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    filter:brightness(50%);
}
#hero-image #hero-text{
    color: white;
    text-align: center;
    position: absolute;
}
#hero-image #hero-text h1{
    font-size: 50px;
    font-weight: 500;
    font-family: 'Staatliches', cursive;
}
#hero-image #hero-text p{
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
}
div {
  min-height: 100px;
}
.col1, .col2, .col3, .col4 {
  min-height: inherit;
  height: inherit;
  width: 50%;
  float: left;
}
.row {
  clear: both;
}
.col1 img {
  width: 100%;
  height: auto;
}
.col1, .col4 {
  /* max-height: 400px; */
  margin-top: 10px;
}
.col4 #driveway{
  height: 50vh;
  width: 80vh;
}
.col2, .col3 {
  background-color: #1E085D;
  color: white;
  font-size: 25px;
  margin-top: 10px;
  outline: solid black 5px;
  width: 40%;
}
.col2{
  margin-left: 9.5%;
}
.col3{
  margin-right: 9.5%;
}
footer{
  clear: both;
  height: 175px;
  background-color:#1E085D
}
#footer-logo{
  height: 150px;
  width: 150px;
}
col #footer-c1, col #footer-c2, col #footer-c3{
  width: 33.33%;
  float: left;
}
.footer-column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer div ul li{
  padding: 5px;
  list-style: none;
}
footer div ul li a{
  color: white;
  text-decoration: none;
}
footer div{
  font-size: 25px;
  color: white;
}
#envelope{
  color:aqua;
  margin-right: 20px;
}
#phone{
  color:aqua;
  margin-right: 20px;
}
#facebook{
  color:aqua;
  margin-right: 20px;
}
#address{
  text-align: center;
  margin-top: 50px;
}
#submit{
  padding: 10px 50px;
}
.column {
  float: left;
  width: 50%;
}
.column img{
  width: 80%;
  margin-top: 50px;
  margin-left: 50px;
  filter: brightness(75%);
  border: 5px solid  #1E085D;
}
.column2{
  float: left;
  width: 40%;
  margin-top: 200px;
  margin-left: 100px;
  border:black solid 5px;
  font-family: 'Joan', serif;
  font-size: 20px;
  color: white;
  background-color: #1E085D;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container{
  text-align: center;
}
#fname{
  margin-top: 40px;
  color: white;
  font-size: 15px;
}
#lname{
  margin-top: 5px;
  color: white;
  font-size: 15px;
}
#email{
  margin-top: 5px;
  color: white;
  font-size: 15px;
}
#message{
  margin-top: 5px;
  color: white;
  font-size: 15px;
}
#message-text{
  color: black;
}
#background{
  background-image: radial-gradient(#1E085D , white); 
}
#google-map{
  height: 400px;
  margin-top: 50px;
}